<table class="table-bordered col-lg-2">
     <tbody>
      <tr>
        <th>ジャンル検索</th>
      </tr>

      <tr>
        <td>
        <% genres.each do |genre| %>
         <p class="mb-0"><%=genre.name%></p></br>
        <% end %>
        </td>
      </tr>

    </tbody>
  </table>