<div class="container">
<div class=row >
<div class="mx-auto col-lg-10 ">
<h1 class="text-center">About</h1>
<p class="text-center">ながのCAKEは全国発送可能なケーキ屋さんです。</br>
お子様からお年寄りの方までお召し上がりいただけるよう、</br>
様々なバリエーションをご用意しております。</br>
また、全国への発送も可能ですので「いつ」でもどこでもご注文いただけます。</p>
ぜひご注文ください。</p>
<div class="text-center"><%= image_tag 'about_page.image.jpg' %></div>
</div>
</div>
</div>